<h1>New Game</h1>

<%= @letters %>

<p>What is the longuest word you can find ?</p>
<form action="score" method="post" data-turbo="false">
  <input type="text" name="attempt">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= hidden_field_tag "letters", @letters %>
</form>
